<% layout('layout/boilerplate') %>
  
    <div class="row">

        <h1 class="text-center">EDIT CAMPGROUND</h1>
        <div class="col-6 offset-3 mb-5">
            <div class="card shadow">
                <div class="card-body">
            <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="campground[title]" value="<%=camp.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" id="location" class="form-control" name="campground[location]" value="<%=camp.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="Username" aria-describedby="price-label"
                    name="campground[price]" value="<%=camp.price%>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                  </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images:</label>
                <input type="file" name="image" id="image" class="form-control"  multiple>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <% camp.images.forEach(function(image,i) { %>
                    <img src="<%= image.thumbnail %>" alt="" class="img-thumbnail">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=image.i %>" name="deleteImages[]" value="<%=image.filename%>">
                    </div>
                    <label for="image-<%=image.i %>">Delete</label>
               <% }); %>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea type="text" id="description" class="form-control" name="campground[description]" required><%=camp.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
            <button class="btn btn-primary">Edit Campground</button></div>
            
        </form>
        </div>
        </div>
        </div>
    </div>