<% layout('layout/boilerplate') %>

   <div class="container"><div id='cluster-map'  class="mb-4"></div>
    <h1 class="text-center mb-4"><strong>ALL CAMPGROUNDS</strong></h1>
    
        <% for (let campground of campgrounds){ %>
            <div class="card  mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images.length){ %>
                        <img src="<%=campground.images[0].url  %>" crossorigin="anonymous" alt="" class="img-fluid">
                        <% } else { %>
                            <img src="https://picsum.photos/200/300" crossorigin="anonymous" alt="" class="img-fluid">
                         <% } %>   
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text"><%= campground.location %></p> 
                            <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">Show</a>
                        </div>
                    </div>
                </div>

            </div>
           
        <% } %>    
    
   </div> 
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>
